package TestApllication;

import java.util.Scanner;

public class GradingSystem {
    public static void main (String [] args){
        Scanner scanner = new Scanner(System.in);
        int cat1, cat2, totalMarks, noOfStudents;
        System.out.println("Welcome to our New Grading System");
        System.out.println("Please enter the number of students...");
        noOfStudents = scanner.nextInt();
        for (int i = 1; i <= noOfStudents; i++){
        System.out.println("Please Enter the cat1 marks:");
        cat1 = scanner.nextInt();
        System.out.println("Please Enter the cat2 marks:");
        cat2 = scanner.nextInt();
        while (cat1 < 0 || cat1 > 30 || cat2 < 0 || cat2 >70) {
            System.out.println("Please Enter the cat1 marks:");
            cat1 = scanner.nextInt();
            System.out.println("Please Enter the cat2 marks:");
            cat2 = scanner.nextInt();
        }
        System.out.println("Student: " + i);
        System.out.println("Cat1: " + cat1 + " Cat2: " + cat2);
        totalMarks = cat1 + cat2;
        System.out.println("Total Marks is: " + totalMarks);
        if (totalMarks >= 70){
            System.out.println("You have scored an: A");
        }
        else if (totalMarks >= 60){
            System.out.println("You have scored an: B");
        }
        else if (totalMarks >= 50){
            System.out.println("You have scored an: C");
        }
        else if (totalMarks >= 40){
            System.out.println("You have scored an: D");
        }
        else
            System.out.println("You have scored an: F");
    }
    }
}
